/* .input-container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container input{
    padding: 1rem;
    background-color: gold;
    border: none;
    border-radius: 5px;
} */



.search-box{
    position: absolute;
    top: 20%;
    left: 50%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: rgb(255, 255, 254);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
#search-text{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    width: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.fa-search{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}
.search-box:hover #search-text{
    width: 340px;
}
.search-box:hover .fa-search{
    background: black;
}
input{
    color:rgb(8, 7, 7);
}