.card-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:4rem;
  text-shadow: 
  -1px -1px 0 firebrick,
  -2px -2px 0 firebrick,
  -3px -3px 0 firebrick,
  -4px -4px 0 firebrick,
  -5px -5px 0 firebrick, 
  -6px -6px 0 firebrick,
  -7px -7px 0 firebrick,
  -8px -8px 0 firebrick,
  -10px -20px 30px firebrick; 
  text-align: center;
  color: aqua;
}